.login-heading {
	text-align: center;
	margin-bottom: 20px;
	padding: 10px 30px;
}

.login-heading img {
	width: 100%;
}

.panel-footer {
	border-color: #95B8E7 !important;
	border-width: 1px !important;
}