body {
	margin: 0;
	font-family: "Arial";
	font-size: 12px;
}

label {
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
}

.textbox {
	border-radius: 0;
	padding: 2px;
	border-radius: 0;
}

.textbox-icon {
	min-height: 30px !important;
}

.content-wrapper {
	padding: 5px;
}

/* bootstrap col margin */
.row-sm {
	margin-left: -5px;
	margin-right: -5px;
}
.row-sm .col-xs-1, .row-sm .col-sm-1, .row-sm .col-md-1, .row-sm .col-lg-1, .row-sm .col-xs-2, .row-sm .col-sm-2, .row-sm .col-md-2, .row-sm .col-lg-2, .row-sm .col-xs-3, .row-sm .col-sm-3, .row-sm .col-md-3, .row-sm .col-lg-3, .row-sm .col-xs-4, .row-sm .col-sm-4, .row-sm .col-md-4, .row-sm .col-lg-4, .row-sm .col-xs-5, .row-sm .col-sm-5, .row-sm .col-md-5, .row-sm .col-lg-5, .row-sm .col-xs-6, .row-sm .col-sm-6, .row-sm .col-md-6, .row-sm .col-lg-6, .row-sm .col-xs-7, .row-sm .col-sm-7, .row-sm .col-md-7, .row-sm .col-lg-7, .row-sm .col-xs-8, .row-sm .col-sm-8, .row-sm .col-md-8, .row-sm .col-lg-8, .row-sm .col-xs-9, .row-sm .col-sm-9, .row-sm .col-md-9, .row-sm .col-lg-9, .row-sm .col-xs-10, .row-sm .col-sm-10, .row-sm .col-md-10, .row-sm .col-lg-10, .row-sm .col-xs-11, .row-sm .col-sm-11, .row-sm .col-md-11, .row-sm .col-lg-11, .row-sm .col-xs-12, .row-sm .col-sm-12, .row-sm .col-md-12, .row-sm .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-left: 5px;
	padding-right: 5px;
}
/* end bootstrap col margin */

/**
 * ------------------------------------------------------------------------
 * bootstrap form
 * ------------------------------------------------------------------------
 */
.form-group {
	margin-bottom: 5px;
}

.form-control {
	border-radius: 0;
	font-size: 12px;
	box-shadow: none;
}

/**
 * ------------------------------------------------------------------------
 * scrollbar
 * ------------------------------------------------------------------------
 */
::-webkit-scrollbar {
	width: 5px;
	height: 0px;
}
::-webkit-scrollbar-button {
	width: 5px;
	height: 0px;
}
::-webkit-scrollbar-thumb {
	background: #e1e1e1;
	border: 0px none #ffffff;
}
::-webkit-scrollbar-thumb:hover {
	background: #E1E1E1;
}
::-webkit-scrollbar-thumb:active {
	background: #F2F2F2;
}
::-webkit-scrollbar-track {
	background: #FFFFFF;
	border: 0px none #ffffff;
}
::-webkit-scrollbar-track:hover {
	background: #FFFFFF;
}
::-webkit-scrollbar-track:active {
	background: #FFFFFF;
}
::-webkit-scrollbar-corner {
	background: transparent;
}

/**
 * ------------------------------------------------------------------------
 * left pane
 * ------------------------------------------------------------------------
 */
#app-title {
	background: #E0ECFF;
	color: #575757;
	padding: 10px;
	border-bottom: solid 1px #95B8E7;
}

#app-title h4 {
	margin: 0;
}

#profile1 {
	border-bottom: solid 1px #95B8E7;
}

#profile1 .media .media-object {
	width: 60px;
}

#left-pane.panel-body {
	background-color: #E0ECFF !important;
}

#left-menu .menu-heading {
	padding: 5px;
	background: #C6DBFF;
	font-weight: bold;
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
}

.tree {
	padding-bottom: 10px;
}

/**
 * ------------------------------------------------------------------------
 * tree
 * ------------------------------------------------------------------------
 */
.tree a:hover,
.tree a:focus {
	text-decoration: none;
}

.tree-node-selected a {
	/*color: #FFFFFF !important;*/
}

/**
 * ------------------------------------------------------------------------
 * top menu
 * ------------------------------------------------------------------------
 */
#top-menu {
	border-radius: 0;
	box-shadow: none;
	border: none;
	border-bottom: solid 1px #95B8E7;
	margin-bottom: 0;
	min-height: 10px;

	background: #E0ECFF;
}

#top-menu .navbar-nav>li>a {
	padding-top: 3.25px;
	padding-bottom: 3.25px;
}

#top-menu.navbar-default .navbar-nav>.active>a,
#top-menu.navbar-default .navbar-nav>.open>a {
	background: #E0ECFF;
}

/**
 * ------------------------------------------------------------------------
 * tabs panel
 * ------------------------------------------------------------------------
 */
#main-tabs .panel-body > .tabs-container > .tabs-panels > .panel.panel-htop {
	border: solid 1px #95B8E7;
	border-top: none;
}

#main-tabs .panel-body .tabs-header,
#main-tabs .panel-body .tabs-tool {
	background-color: transparent;
}

.tabs-panels > .panel > .panel-body {
	padding: 5px;
}

/**
 * ------------------------------------------------------------------------
 * bottom pane
 * ------------------------------------------------------------------------
 */
#bottom-pane {
	padding: 5px;
	background-color: #E0ECFF;
}

/**
 * ------------------------------------------------------------------------
 * jeasyui panels
 * ------------------------------------------------------------------------
 */
.panel-content {
	padding: 5px;
}

.panel-footer {
	padding: 5px;
	border-radius: 0;
	border-color: #DDDDDD !important;
	border-style: solid;
	border-width: 1px 0 0 0 !important;
}

/**
 * ------------------------------------------------------------------------
 * jeasyui pagination
 * ------------------------------------------------------------------------
 */
.pagination {
	border-radius: 0;
}

/**
 * ------------------------------------------------------------------------
 * bootstrap buttons
 * ------------------------------------------------------------------------
 */
.btn {
	border-radius: 0 !important;
}

.btn:active, .btn:focus {
	outline: none !important;
}

.btn-round {
	border-radius: 100px !important;
}

/**
 * ------------------------------------------------------------------------
 * toolbar
 * ------------------------------------------------------------------------
 */
.tb-toolbar {
	width: 100%;
}

/**
 * ------------------------------------------------------------------------
 * select2
 * ------------------------------------------------------------------------
 */
.select2-container--default .select2-selection--single {
	border-radius: 0;
	height: 30px !important;
}

.select2-container--default:focus .select2-selection--single:focus {
	outline: none;
}